.Quote {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    overflow-x: scroll;
    overflow-x: hidden;
}

.Quote__header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Quote__header h1 {
    font-size: 10vmin;
    width: 100vw;
    text-align: center;
    text-transform: capitalize;
}

.Quote__header button {
    font-size: 4vmin;
}

.Quote h2 {
    max-height: 60vh;
    max-width: 90vw;
    font-size: 7vmin;
    text-align: center;
    border-radius: 2vmin;
    padding: 1vmin;
    box-shadow: 0 1px 30px -20px rgb(30, 29, 31);
    margin: 3vmin;
}

.Quote>button {
    font-size: 4vmin;
    margin: 1vmin;
}

.Quote__quotes-list-btn {
    justify-self: flex-start;
    text-transform: capitalize;
    font-size: 10vmin;
    margin-bottom: auto;
}

.Quote__get-quote-btn {
    text-transform: capitalize;
    font-size: 10vmin;
    padding: 2vmin;
}

.my-node-enter {
    opacity: 0;
    filter: blur(100px);
    overflow: hidden;
    transform: scale(0);
}

.my-node-enter-active,
.my-node-exit-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: opacity 500ms ease, filter 500ms ease, transform 500ms ease;
    overflow: hidden;
}

.my-node-exit {
    opacity: 0;
    filter: blur(100px);
    overflow: hidden;
    transform: scale(0);
    transition: opacity 500ms ease, filter 500ms ease, transform 500ms ease;
}