.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.app-node-enter {
    opacity: 0;
    filter: blur(30px);
    overflow: hidden;
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
}

.app-node-enter-active {
    opacity: 1;
    filter: blur(0);
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
    overflow: hidden;
}

.app-node-exit-active {
    opacity: 1;
    filter: blur(0);
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
    overflow: hidden;
}

.app-node-exit {
    opacity: 0;
    filter: blur(30px);
    overflow: hidden;
    transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
    overflow: hidden;
}