.quotes-list {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-x: hidden;
}

.quotes-list h1 {
    font-size: 10vmin;
}

.quotes-list>button {
    padding: 1vmin;
    font-size: 4vmin;
}

.add--quote {
    width: 90vw;
    margin: 1vmin 0;
}

.quotes-list__wrapper {
    width: 90vw;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    margin: 1vmin;
}

.quotes-list__textarea {
    font-size: 3.5vmin;
}

.quotes-list__remove-btn,
.quotes-list__confirm-btn {
    width: 10vw;
    margin: 0.5vmin;
    font-size: 3vmin;
}

.quote__status {
    position: fixed;
    top: 4vmin;
    right: 4vmin;
    background-color: #fff;
}

.quote__status--message__deleted {
    color: white;
    box-shadow: 0 0 1vmin 1px red;
    border-radius: 1vmin;
    text-align: center;
    padding: 1vmin;
    font-size: 5vmin;
    opacity: 0.6;
    background-color: red;
}

.quote__status--message__changed {
    color: white;
    box-shadow: 0 0 0.5vmin 1px green;
    border-radius: 1vmin;
    text-align: center;
    padding: 1vmin;
    font-size: 5vmin;
    font-weight: 400;
    opacity: 0.6;
    background-color: green;
}

.quote__status--message__deleted>span,
.quote__status--message__changed>span {
    font-size: 3vmin;
}

.quote-editor-node-enter {
    opacity: 0;
    filter: blur(100px);
    transform: scale(0);
    overflow: hidden;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, filter 500ms ease-in-out;
    transform: translateY(-10vh);
}

.quote-editor-node-enter-active {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, filter 500ms ease-in-out;
    overflow: hidden;
    transform: translateY(0);
}

.quote-editor-node-exit-active {
    opacity: 1;
    filter: blur(0);
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, filter 500ms ease-in-out;
    overflow: hidden;
    transform: translateX(0);
}

.quote-editor-node-exit {
    opacity: 0;
    filter: blur(100px);
    overflow: hidden;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, filter 500ms ease-in-out;
    transform: translateX(40vw);
}

.quote__status-node-enter {
    opacity: 0;
    filter: blur(100px);
    transform: scale(0);
    overflow: hidden;
}

.quote__status-node-enter-active {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    transition: opacity 300ms ease-in-out, filter 300ms ease-in-out, transorm 300ms ease-in-out;
    overflow: hidden;
}

.quote__status-node-exit-active {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    overflow: hidden;
}

.quote__status-node-exit {
    opacity: 0;
    filter: blur(100px);
    transform: scale(0);
    overflow: hidden;
}